<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head><title>Adaugă Bagaj</title></head>
<body>
<h1>Adaugă Bagaj</h1>
<form th:action="@{/luggage}" th:object="${luggage}" method="post">

    <label>Bilet:</label>
    <select th:field="*{ticket}">
        <option value="">Alege Bilet...</option>
        <!-- Afișăm locul și numele pasagerului pentru a ști al cui e biletul -->
        <option th:each="t : ${tickets}"
                th:value="${t.id}"
                th:text="${t.seatNumber + ' (' + t.passenger.name + ')'}"></option>
    </select>
    <br><br>

    <label>Status:</label>
    <select th:field="*{status}">
        <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
    </select>
    <br><br>

    <button type="submit">Salvează</button>
</form>
</body></html>