<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editează Zbor</title>
</head>
<body>
<h1>Editează Zbor</h1>
<form th:action="@{/flights/{id}/edit(id=${flight.id})}" th:object="${flight}" method="post">
    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly style="background-color: #eee;">
    </div>
    <br>
    <div>
        <label for="flightNumber">Număr Zbor:</label>
        <input type="text" id="flightNumber" th:field="*{flightNumber}" required>
    </div>
    <br>
    <div>
        <label for="departureTime">Ora Plecare (String):</label>
        <input type="text" id="departureTime" th:field="*{departureTime}" required>
    </div>
    <br>
    <div>
        <label for="arrivalTime">Ora Sosire (String):</label>
        <input type="text" id="arrivalTime" th:field="*{arrivalTime}" required>
    </div>
    <br>
    <div>
        <label for="airplaneId">ID Avion (Airplane ID):</label>
        <input type="text" id="airplaneId" th:field="*{airplaneId}">
    </div>
    <br>
    <div>
        <label for="noticeBoardId">ID Panou (NoticeBoard ID):</label>
        <input type="text" id="noticeBoardId" th:field="*{noticeBoardId}">
    </div>
    <br>
    <button type="submit">Actualizează Zbor</button>
</form>
<p><a th:href="@{/flights}">Anulează</a></p>
</body>
</html>