<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Zboruri</title>
    <style> table, th, td { border: 1px solid black; padding: 5px; } form { display: inline; } </style>
</head>
<body>
<h1>Lista tuturor Zborurilor</h1>
<p><a th.href="@{/flights/new}">Adaugă Zbor Nou</a></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nr. Zbor</th>
        <th>Ora Plecare</th>
        <th>Ora Sosire</th>
        <th>ID Avion</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.id}">ID Zbor</td>
        <td>
            <a th:href="@{/flights/{id}(id=${flight.id})}" th:text="${flight.flightNumber}">
                Nr. Zbor
            </a>
        </td>
        <td th:text="${flight.departureTime}">Ora Plecare</td>
        <td th:text="${flight.arrivalTime}">Ora Sosire</td>
        <td th:text="${flight.airplaneId}">ID Avion</td>
        <td>
            <a th:href="@{/flights/{id}/edit(id=${flight.id})}">Edit</a>

            <form th:action="@{/flights/{id}/delete(id=${flight.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<p><a th:href="@{/passengers}">Vezi Pasageri</a> | <a th:href="@{/airplanes}">Vezi Avioane</a></p>
</body>
</html>