<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Angajat</title>
</head>
<body>
<h1>Detalii Angajat</h1>

<div>
    <strong>ID:</strong>
    <p th:text="${staff.id}">ID-UL AICI</p>
</div>
<div>
    <strong>Nume:</strong>
    <p th:text="${staff.name}">NUMELE AICI</p>
</div>
<div>
    <strong>Tip:</strong>
    <p th:text="${staff.employeeType}">TIP AICI</p>
</div>

<div th:if="${staff.employeeType?.name() == 'AIRLINE_EMPLOYEE'}">
    <hr>
    <strong>Rol:</strong>
    <p th:text="${staff.role}">ROL AICI</p>
    <strong>Nr. Asignări Zboruri:</strong>
    <p th:text="${#lists.size(staff.assignments)}">0</p>
</div>

<div th:if="${staff.employeeType?.name() == 'AIRPORT_EMPLOYEE'}">
    <hr>
    <strong>Departament:</strong>
    <p th:text="${staff.department}">DEPARTAMENT AICI</p>
    <strong>Funcție (Designation):</strong>
    <p th:text="${staff.designation}">FUNCȚIE AICI</p>
</div>

<hr>
<p><a th:href="@{/staff}">Înapoi la Listă</a></p>
</body>
</html>