<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adaugă Angajat (Airline)</title>
</head>
<body>
<h1>Adaugă Angajat Companie Aeriană</h1>

<form th:action="@{/staff/airline}" th:object="${airlineEmployee}" method="post">

    <div>
        <label for="name">Nume Complet:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <br>
    <div>
        <label for="role">Rol (ex: Pilot, Steward):</label>
        <input type="text" id="role" th:field="*{role}">
    </div>

    <button type="submit">Salvează Angajat Airline</button>
</form>
<p><a th:href="@{/staff}">Înapoi la Listă</a></p>
</body>
</html>