<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Angajați</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; padding: 8px; }
    </style>
</head>
<body>
<h1>Lista tuturor Angajaților (Staff)</h1>

<p>
    <a th:href="@{/staff/new/airline}">Adaugă Angajat Companie Aeriană (Airline)</a>
    |
    <a th:href="@{/staff/new/airport}">Adaugă Angajat Aeroport (Airport)</a>
</p>

<hr>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume Complet</th>
        <th>Tip Angajat</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${staff}">
        <td th:text="${member.id}">ID Ang.</td>

        <td th:text="${member.name}">Nume</td>

        <td th:text="${member.getEmployeeType()}">Tip</td>
        <td>
            <form th:action="@{/staff/{id}/delete(id=${member.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>