<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Pasageri</title>
    <style>
        table, th, td { border: 1px solid black; padding: 5px; }
        form { display: inline; }
    </style>
</head>
<body>
<h1>Lista tuturor Pasagerilor</h1>
<p><a th:href="@{/passengers/new}">Adaugă Pasager Nou</a></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume Complet</th>
        <th>Email</th>
        <th>Valută</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passenger : ${passengers}">
        <td th:text="${passenger.id}">ID Pas.</td>

        <td>
            <a th:href="@{/passengers/{id}(id=${passenger.id})}" th:text="${passenger.name}">
                Nume
            </a>
        </td>

        <td th:text="${passenger.email}">Email Pas.</td>
        <td th:text="${passenger.currency}">Valută Pas.</td>
        <td>
            <a th:href="@{/passengers/{id}/edit(id=${passenger.id})}">Edit</a>

            <form th:action="@{/passengers/{id}/delete(id=${passenger.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<p><a th:href="@{/airplanes}">Vezi Avioane</a> | <a th:href="@{/flights}">Vezi Zboruri</a></p>
</body>
</html>