<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editează Avion</title>
</head>
<body>
<h1>Editează Avion</h1>
<form th:action="@{/airplanes/{id}/edit(id=${airplane.id})}" th:object="${airplane}" method="post">
    <div>
        <label>ID (Nu se poate schimba):</label>
        <input type="text" th:field="*{id}" readonly style="background-color: #eee;">
    </div>
    <br>
    <div>
        <label for="modelName">Model:</label>
        <input type="text" id="modelName" th:field="*{modelName}" required>
    </div>
    <br>
    <div>
        <label for="number">Capacitate (Number):</label>
        <input type="number" id="number" th:field="*{number}" required>
    </div>
    <br>
    <button type="submit">Actualizează Avion</button>
</form>
<p><a th:href="@{/airplanes}">Anulează (Înapoi la Listă)</a></p>
</body>
</html>