<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editează Avion</title>
    <style>.error { color: red; }</style>
</head>
<body>
<h1>Editează Avion</h1>
<form th:action="@{/airplanes/{id}/edit(id=${airplane.id})}" th:object="${airplane}" method="post">

    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly style="background-color: #eee;">
    </div>
    <br>

    <div>
        <label>Model:</label>
        <input type="text" th:field="*{modelName}">
        <div class="error" th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}"></div>
    </div>
    <br>

    <div>
        <label>Capacitate:</label>
        <input type="number" th:field="*{capacity}">
        <div class="error" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
    </div>
    <br>

    <button type="submit">Actualizează</button>
</form>
<a th:href="@{/airplanes}">Anulează</a>
</body>
</html>