<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adaugă Avion</title>
</head>
<body>

<h1>Adaugă un Avion Nou</h1>

<form th:action="@{/airplanes}" th:object="${airplane}" method="post">

    <div>
        <label for="modelName">Model:</label>               <input type="text" id="modelName" th:field="*{modelName}" required> </div>

    <br>

    <div>
        <label for="number">Capacitate:</label>             <input type="number" id="number" th:field="*{number}" required>     </div>

    <br>

    <button type="submit">Salvează Avion</button>
</form>

</body>
</html>