<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Avioane</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; padding: 8px; }
    </style>
</head>
<body>

<h1>Lista tuturor Avioanelor</h1>

<p><a th:href="@{/airplanes/new}">Adaugă Avion Nou</a></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Capacitate</th>
        <th>Acțiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="airplane : ${airplanes}">
        <td th:text="${airplane.id}">ID Av.</td>
        <td th:text="${airplane.model}">Model Av.</td>
        <td th:text="${airplane.capacity}">Cap. Av.</td>
        <td>
            <form th:action="@{/airplanes/{id}/delete(id=${airplane.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>